body{
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
}
/*  Base Typography  */
p {
    color: #848689;
    line-height: 26px;
    font-weight: 600;
}
a, a:hover{
	text-decoration: none;
}
.btn-outline-custom{
	border: 1px solid #fff;
	color: #fff;
	padding: 15px 40px;
	font-size: 16px;
	border-radius: 50px;
}
.btn-outline-custom:hover{
	color: #013967;
    background-color: #fff;
    text-decoration: none;
}
.text-white{
	color: #fff;
}
.sec-title{
 	text-align: center;
 	font-weight: 600;
 	padding: 50px 0px;
}
.btn-contact-us{
    background-color: #4572fe;
    border-color: #4572fe;
    padding: 15px 30px;
    font-size: 16px;
}

/*  Custom Padding Margin Class  */
.pb-30{
	padding-bottom: 30px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.top-10 {
    padding-top: 15px;
}
.pt-60{
    padding-top: 60px;
}
/*  Navbar Css  */
.navbar{
	border-radius: 0px;
} 
.navbar-brand {
    float: left;
    height: unset; 
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
    font-weight: 600;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #337ab7;
}
.navbar .dropdown-menu {
    border:unset;
    background-color: #fff;
    padding: unset;
    border-radius: unset;
}
.navbar .dropdown-menu li a{
	border-bottom: 1px solid #000;
	padding: 10px 15px;
	color: #3a3a3a;
	font-size: 14px;
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color: #000;
}
.nc-pad{
	padding-top: 20px;
}
/*  Common Section Css  */
.sec-pad{
	padding-top: 50px;
	padding-bottom: 50px;
}
.sec-title{
	margin: auto;
}
.sec-title h2{
	text-align: center;
}
.sec-title p {
    max-width: 506px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.sec-border{
	content: '';
    display: block;
    width: 10%;
    height: 4px;
    background: #49dab5;
    margin-top: 16px;
    margin: auto;
}

.bg-dark-purple{
	background: #29354f;
}
.bg-lite-purple{
	background: #589ab6;
}
.bg-lite-blue{
	background: #013967;
}
/*   Index Page Css  */
.isecbg{
	background-image: url(../img/main-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.msec-pad{
	padding-top: 80px;
	padding-bottom: 80px;
}
.isec-content h1{
	color: #fff;
}
.isec-content p{
	color: #fff;
	line-height: 26px;
	margin-top: 50px;
	margin-bottom: 30px;
}
.icon-box{
	text-align: center;
	padding-top: 25px;
}
.icon-box .ib-icon{
	text-align: center;
    color: #fff;
    font-size: 50px;
}
.icon-box .ib-content{
	color: #fff;
	margin-top : 20px;
}
.icon-box .ib-content a{
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}
.vc-icon{
	background-color: #f0f0f0;
    color: #212121;
    font-size: 25px;
    padding: 16px;
    border-radius: 5% 5% 5% 45%;
    width: 60px;
}
.vc-content{
	margin-top: 30px;
}
.vc-content h2{ 
	margin-bottom: 20px;
}
.vc-f-list-main span::before{
 content: "\f00c";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  background: #48c1ce;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
}
.vc-f-list-main{
	margin-top: 20px;
}
.vc-main-img img{
	width: 75%;
    border-radius: 3% 3% 3% 40%;
    float: right;
    margin-top: 10%;
}
.travel-package .card{
	margin-top: 30px;
	background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.travel-package .card-body{
	padding: 15px;
}
.mpass{
	padding-top: 50px;
	padding-bottom: 50px;
}
.mpass-content{
	color: #fff;
	padding-top: 12%;
}
.mpass-content p{
	color: #fff;
	padding-top: 10%;
}
.counter {
    background-color:#fff;
    padding: 20px 0;
    border-radius: 5px;
    margin-top: 20px;
    width: 225px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
.mps-mt{
	margin-top: 25px;
}
.cb-apply{
	padding-top: 40px;
    float: right;
}
/*  Passport Application Css  */
.hidden {
    display: none!important;
}
.frmMain-hd {
    background: #0c2d4f;
    border: 2px solid #0a222e;
    margin: 26px 0 -4px 0px;
    border-bottom-color: #403e3c;
}
.frm-head-padd {
    padding: 5px 0 15px 0;
}
.div-shadow-hd {
    box-shadow: 0 -1px 5px 1px #403e3c;
}
.block-header {
    font-size: 18px;
    margin-bottom: -8px;
    padding: 0 24px;
    color: #fff;
    font-weight: 600;
}
.circle-num {
    align-items: center;
    border: 3px solid #fff;
    height: 3px;
    justify-content: center;
    max-width: 100%;
    padding: 2px 7px 2px 7px;
    border-radius: 99%;
    background: #0a222e;
    color: #fff!important;
    font-size: 15px;
}
.div-shadow {
    box-shadow: 0 2px 5px 1px #403e3c;
}

.frmMain {
    background: #fff;
    border: 2px solid #fff;
    margin: 4px 0 5px 0px;
}
.padd_frmnew {
    padding: 10px 0 25px 0;
}
/*   Required Documents Css   */
.proof-detail-link{
	    color: #007bff;
	    font-weight: 600;
}
.proof-detail{
	background: #f8fcff;
    border: 1px solid #e3eaf1;
    padding: 10px;
}
.proof-detail ul li{
	padding-top: 5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-stacked > li + li {
    margin-top: 0px;
    
}
.nav-stacked > li{
	border:1px solid #e3eaf1;
}
.nav-tabs{
	border: unset;
}
.nav-tabs > li > a {
    color: #000;
    background-color: #f8fcff;
    border: 0px;
    border-radius: 0px;
    margin: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #013967; 
    color: #FFFFFF;
    z-index: 99;
    transition: all 0.5s ease 0s;
}
.nav-tabs > li.active > a {
   color: #FFFFFF;
   background-color: #013967;
    z-index: 100;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   color: #FFFFFF;
   background-color: #013967;   
   transition: all 0.5s ease 0s;
}
/*      FAQ    */
.panel-group .panel{
	padding: 20px;
}
.panel {
    border: 1px solid #e3eaf1;
}
.panel-default{
  border-color: #e3eaf1;
}

.panel-default>.panel-heading{
	background-color: unset;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border: none;
    padding-left: 0px;
}
.panel-group .panel-heading+.panel-collapse>.panel-body{
    font-size: 14px;
}
a:focus, a:hover {
    text-decoration: none;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    padding: 0;
}
.panel-group .panel+.panel {
    margin-top: 15px;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'Font Awesome\ 5 Free';
    font-style: normal;
    font-size: 2rem;
    content: "\f106";
    font-weight: 600;
    color: #000;
    float: right;
    margin-top: -4px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

/*  Tour Package Css  */
.tp-bg{
	background-image: url(../img/tour-package.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tp-title{
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 230px 0 190px;
}
.tp-title h1{
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 6rem;
}
.elementor-background-overlay {
    background-color: #000;
    opacity: .80;
    transition: background .3s,border-radius .3s,opacity .3s;
}
.tp-c-content ul li{
	line-height: 26px;
}

/*  Visa All Page Css  */
.visa-bg{
	background-image: url(../img/visa.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visa-elementor-background-overlay{
	background-color: #000;
    opacity: .80;
    transition: background .3s,border-radius .3s,opacity .3s;
}
.visa-title{
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 100px 0;
    text-align: center;
}
.visa-title h1{
	color: #fff;
	font-weight: 600;
	font-size: 6rem;
}
.visa-title p{
	color: #fff;
	max-width: 600px;
	margin: auto;
}
.visa-title a {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
}
.visa-content h2{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 600;
}
.visa-content h4{
	margin-top: 20px;
}
.vp-main{
	margin-top: 30px;
}
.vp{
	padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: 275px;
}
.vp-icon{
	fill: #61ce70;
    color: #61ce70;
    border-color: #61ce70;
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 50px;
    text-align: center;
}

/*   Procedure Css */
.well{
  background-color: #f8fcff;
  border: 1px solid #e3eaf1;
}
.nav-pills.nav-wizard > li.active > a.hidden-xs {
 display: block!important;
}
.nav-pills.nav-wizard > li.active > a.visible-xs {
	display: none!important;
}
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}

.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
  padding: 10px;
}
.nav>li.disabled>a:focus, .nav>li.disabled>a:hover{
	cursor: pointer;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #013967;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #013967 #013967 #013967 transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #013967;
}

.process-img{
	text-align: center;
   /* padding-top: 30px;*/
}
.process-img img{
  width: 150px;
}
.process-content{
  margin-top: 55px;
}
/*  Contact Page Css  */
.contact-info{
	padding-top: 15px;
}
.contact-info b{
	color: #000;
}
.contact-info p{
	padding-top: 0px;
}
#contact input {
    transition: box-shadow .2s!important;
    margin-bottom: 25px;
}
#contact input, #contact input[type="text"], #contact input[type="password"], #contact input[type="email"], #contact input[type="number"], textarea, select {
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    outline: none;
    font-size: 15px;
    color: gray;
    margin: 0 0 16px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    opacity: 1;
    border-radius: 3px;
}
#contact input.button.submit {
    margin-bottom: 10px;
    line-height: 20px;
    transition: all .25s!important;
    background-color: #013967;
    top: 0;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    margin-right: 6px;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    width: auto;
}
#contact textarea {
    min-height: 200px;
    margin: 15px 0 25px;
    min-width: 100%;
    height: auto;
    line-height: 27px;
    padding: 20px;
}

/*  Privacy Css  */
.privacy-main-title h3 {
    text-align: center;
}
.privacy-content h3 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.privacy-content p{
    padding-top: 15px;
}
.mt30 {
    margin-top: 30px;
}

/*    Fees Structure Css    */
.fees-bg-white{
    background-color: #fff;
   -webkit-box-shadow: 0px 0px 19px 1px rgb(230, 235, 247);
    -moz-box-shadow: 0px 0px 19px 1px rgb(230, 235, 247);
    box-shadow: 0px 0px 19px 1px rgb(230, 235, 247);
    padding: 20px;
}
.fees-sub-title{
    padding-left: 10px;
    padding-right: 10px;
}
/*    Track Passport Css    */
.track-title h3{
    text-align: center;
    font-size: 16px;
  font-weight: 600;
}
.track-bg-white {
    max-width: 85%;
    margin: 0px auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 19px 1px rgb(230, 235, 247);
    -moz-box-shadow: 0px 0px 19px 1px rgb(230, 235, 247);
    box-shadow: 0px 0px 19px 1px rgb(230, 235, 247);
}
.track-sub{
    padding-top: 5px;
    text-align: right;
}
.track-note{
    padding:0px 20px 20px 20px;
}
.track-note p{
  font-weight: 600;
}
.track-btn{
        padding-top: 40px;
            margin-bottom: 30px;
}
.tracking-detail{
    padding-right: 30px;
    padding-left: 30px;
}
.track-no-record {
    font-weight: 600;
    padding: 0px 30px 20px 20px;
}

/*  Footer Css  */
.mfp{
	padding-top: 50px;
	padding-bottom: 50px;
}
.ft-logo p{
	padding-top: 25px;
	color: #fff;
}
.ft-links a{
	font-size: 16px;
	color: #fff;
	display: flex;
	padding-top: 5px;
}
.ft-links a:hover{
	color: #fff;
	font-weight: 600;
    text-decoration: none;
}
.ft-links a::before{
	content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}
.ft-main-title h3{
	color: #fff;	
}
.ftcpad{
	padding-left: 0px;
	padding-right: 0px;	
}
.copyright p{
	color: #fff;
	background: #6ec1e4;
	padding: 10px 0px;	
	margin-bottom: 0px;
	text-align: center;
}



/*  Media Query  */
@media (max-width: 574px) {
	.vc-f-list-icon{
		font-size: 12px;
	}
	.vc-f-list-main span::before{
		margin-right: 5px;
		padding: 5px;
	}
	.sec-title h2{
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
	}
	.mpass-content{
		padding-top: 0;
	}
	.mps-mt{
		margin-top: 0px;
	}
	.flex-column{
		margin: auto;
	}
	.pd{
		padding-left: 10px;
		padding-right: 10px;
	}
	.cb-apply{
		float: none;
		text-align: center;
	}
	.copyright p{
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
	}
	.ft-links a{
		font-size: 13px;
	}
	.counter{
		width: unset;
	}
	.vc-main-img img{
		float: unset;
		width: 100%;
	}
	.tab-content {
    	margin-top: 25px;
	}
	.tp-title{
		padding: 85px 0 75px;
	}
	.tp-title h1{
		font-size: 2rem;
	}
    .tp-content-main , .visa-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-brand{
        padding-left: 15px;
    }
    .track-sub {
        text-align: center;
        padding-bottom: 10px;
    }
    .track-bg-white {
        max-width: 100%;
    }
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	}
}